<tr id="<%= dom_id post %>">
  <td class="border border-slate-400">
    <%= post.title %>
  </td>

  <td class="border border-slate-400">
    <%= post.user.email %>
  </td>
  <td class="border border-slate-400">
    <%= link_to "Show this post", post %>
  </td>

</tr>
